<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>song lyrics</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            margin: 0;
            padding: 0;
           
            background-color: #0c164e;

        }

        header {
            background-color: #030b3b;
            color: rgb(255, 255, 255);
            padding: 10px;
            text-align: center;
        }

        nav {
            background-color: #030b3b;
        
            padding: 10px;
            text-align: center;
        }

        nav a {
            color: white;
            text-decoration: none;
            margin: 0 15px;
        }

        section {
            max-width: 800px;
            margin: 20px auto;
            padding: 20px;
            background-color: #a6c6f0;
        }

        footer {
            background-color: #333;
            color: white;
            text-align: center;
            padding: 10px;
            position: fixed;
            bottom: 0;
            width: 100%;
        }

        form {
            max-width: 400px;
            margin: 0 auto;
            background-color: #fff;
            padding: 20px;
            border-radius: 5px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        }

        label {
            display: block;
            margin-bottom: 8px;
        }

        input {
            width: 100%;
            padding: 8px;
            margin-bottom: 15px;
            box-sizing: border-box;
        }

        input[type="submit"] {
            background-color: #333;
            color: white;
            cursor: pointer;
        }
    </style>
</head>
<body>

    <header>
        <h1>🎶 Song Lyrics'Jão 🎵</h1>
    </header>

    <nav>
        <a href="/">Home</a>
        <a href="/sobre">Sobre</a>
        <a href="/login">Login</a>
        <a href="/login">Postagens</a>

    </nav>

    <section>
        
        <h2>Bem-vindo ao Meu Blog caro leitor!</h2>
        <p><br>Como amante da música e lguém que recentemente desenvolveu uma profunda apreciação e interesse pelo mundo da musica</br>
            <br> Essa pessoa pode estar explorando diferentes gêneros, artistas e estilos, buscando ampliar seu conhecimento musical. </br>
           <br> Geralmente entusiasmado, em meu blog poderá descobrir constantes faixas, álbuns e experiências sonoras </br>
           <br>Contribuindo para uma jornada de crescimento e diversificação de seu gosto musical. </br>
           <br>Essa fase inicial muitas vezes é marcada por uma paixão crescente, curiosidade e uma conexão emocional com a música.</br></p> 
      
    </section>

    <footer>
        &copy; 2024 Meu Blog. Todos os direitos reservados.
    </footer>

</body>
</html>
